.profiles-compo-link{
    text-decoration:none;
    color:#fff; 
}
.profiles-compo-link:hover{
    color:orange;
}
button{
    background: transparent;
    color:black;
    font-weight: 250;
    border:none;
}
/* .profile-close{
    display:none;
} */

/* user profile */
.profi{
    background: linear-gradient(0deg, rgba(138,181,172,1) 26%, rgba(207,200,185,1) 89%);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
  .cardd{
        display: flex;
        box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
        min-width: 350px;
        height: fit-content;
        margin:0 81vh;
        padding: 20px;
        border-radius: 5px;
        justify-content: center;
        align-items: center;
        font-family: arial;
    }
  .card:hover {
    box-shadow: 0 0 12px 3px rgba(0, 0, 0, 0.08);
  }
  .card-title {
    margin-top: 20px;
  }
  .card-text {
    font-size: 18px;
    color: black;
  }
  .card-text .fa {
    font-size: 26px;
  }
  .avatar {
    width: 140px;
    margin: auto;
  }
  .avatar img {
    border: solid 6px transparent;
    border-radius: 50%;
  }
  .card:hover .avatar img {
    border-color: rgb(99, 204, 131);
  }
  
  .btn {
    border-radius: 25px;
  }